<div class="container mx-auto sm:px-6 lg:px-8">

  <div class="w-[200px] ml-auto">
    <label for="Search" class="block text-sm font-medium leading-6 text-gray-900">Search</label>
    <div class="relative mt-2 rounded-md shadow-sm">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
        </svg>
        
      </div>
      <input  [(ngModel)]="fruitName" (keyup)="GetFruits()" type="text" name="Search" id="Search"
        class="block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        placeholder="ค้นหาผลไม้">
    </div>

    <button (click)="onOpenModal()" type="button"
      class="mt-4 mb-4 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      เพิ่มผลไม้
    </button>
  </div>

  <ul role="list" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <ng-container *ngFor="let item of fruit">
      <li class="relative">
        <div
          class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
          <img src="{{item.fruitPhoto}}" alt=""
            class="h-64 w-64 pointer-events-none object-cover group-hover:opacity-75">
        </div>
        <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">{{item.fruitName}}</p>
      </li>
    </ng-container>
  </ul>
</div>

<div *ngIf="fruitmodalOpen" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
        <div>
          <label for="fruitName" class="block text-sm font-medium leading-6 text-gray-900">fruitName</label>
          <div class="mt-2">
            <input [(ngModel)]="fruitNameInput" type="text" name="fruitName" id="fruitName"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="fruitPhoto" class="block text-sm font-medium leading-6 text-gray-900">fruitPhoto</label>
          <div class="mt-2">
            <input [(ngModel)]="fruitPhotoInput" type="text" name="fruitPhoto" id="fruitPhoto"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="mt-5 sm:mt-6">
          <button (click)="AddFruit()" type="button"
            class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go
            เพิ่มผลไม้
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>